body{
  background: #111111;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
}

.camera_title{
  display: inline-block;
  width: 156px;
  text-align: center;
}

.camera_presets{
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.cam_ctrls{
  margin:auto;
  left:0;
  right:0;
  text-align:center;
}

.camera_pos{
  display: inline-block;
  cursor: pointer;
  background: #333333;
  width: 140px;
  border: 3px solid;
  border-color: #333333;
  text-align: left;
}

.camera_pos_column_divider{
  display: inline-block;
  width: 50px;
}

.camera_pos.active{
  border: 3px solid;
  border-color: #dddddd;
}

.camera_pos.active.in_motion_flash{
  border: 3px solid;
  border-color: #aaaaaa;
}

.camera_pos.active.livecam{
  border: 3px solid;
  border-color: #00ec00;
}

.camera_pos .label{
  display: inline-block;
  position: relative;
  top: -2px;
  left: 4px;
  right: 0;
  
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #ececec;
  text-shadow: 1px 1px 1px rgba(0,0,0, .5);
}

.camera_pos .timeout{
  display: inline-block;
  /*position: relative;*/
  top: 4px;
  /*left: 0;*/
  /*right: -44px;*/
  float:right;
  
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica, Arial, sans-serif;
/*font-weight: bold;*/
  font-size: 10px;
  color: #ececec;
  text-shadow: 1px 1px 1px rgba(0,0,0, .5);
}

.camera_no{
  display: inline-block;
  position: relative;
  top: -2px;
  left: 2px;
  width: 15px;
  text-align: center;
  
  background: white;
  
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #111111;
  text-shadow: 1px 1px 1px rgba(0,0,0, .5);
}

.camera_no.active{
  background-color: #00ec00;
}

.camera_no.active:not(.live){
  background-color: #ec0000;
}

.camera_pos img{
  width: 100%;
}

.camera_pos.cam_active:not(.livecam) img{
  filter: brightness(40%);
}

#admin_access{
  cursor: pointer;
  background-color: #333333;
  color: #111111;
  width: 25px;
  text-align: center;
  
  position: absolute;
  left: 10px;
  top: 10px;  
}
#admin_access.live{
  background-color: #00ec00;
}

.control_btn
{
  cursor: pointer;
  background-color: #ececec;
  color: #111111;
  width: 180px;
  text-align: center;
  font-size: 16px;  
  padding-top: 2px;
}

.control_btn.live
{
  background-color: #00ec00;  
}

.smart_devices
{
  position: absolute;  
  top: 100px;
  left: 0px;
  width: 200px;

  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.smart_device{ 
  position: absolute;
  left: 10px;
  top: 20px;  
}

#dev_spots{
  top: 20px;  
}
#dev_stage{
  top: 50px;  
}
#dev_front{
  top: 80px;  
}
#dev_tv_left{
  top: 120px;  
}
#dev_tv_right{
  top: 150px;  
}

.audio_selection{
  position: absolute;
  left: 0px;
  top: 300px;
  
  width: 200px;
  text-align: center;
  
  font-weight: bold;
  font-size: 12px;
}

.audio_select{
  position: absolute;
  left: 10px;
}

.audio_select .subtitle{
  font-family: Helvetica, Arial, sans-serif;
  /*font-weight: bold;*/
  font-weight: normal;
  font-size: 10px;
}

#dev_audio_aux5{
  top: 60px;  
}
#dev_audio_main{
  top: 20px;  
}
#dev_audio_analogue{
  top: 100px;  
}

.obs_control{
  position: absolute;
  left: 0px;
  top: 500px;
  
  width: 200px;
  text-align: center;
  
  font-weight: bold;
  font-size: 12px;
}

#obs_emergency{
  position: absolute;
  left: 10px;
  top: 0px;  
}

.camera_no.active{
  background-color: #00ec00;
}

#obs_record{
  position: absolute;
  left: 10px;
  top: 30px;  
}

#obs_stream{ 
  position: absolute;
  left: 10px;
  top: 60px;  
}

/*
#camera_auto{ 
  position: absolute;
  left: 10px;
  top: 90px;  
}
*/

#camera_slider{
  position: absolute;
  top: 200px;
  width: 200px;
  
  text-align: center;
}

#slider{
  /* background-color: #ececec;*/
  background-color: #222222;
  color: #111111;
  width: 180px;
  
  position: absolute;
  left: 10px;
  top: 20px;  
}

.cam_ctl{
  display: inline-block;
  height: 265px;
  width: 300px;
}

.cam_ctl .cam_container{
  position: absolute;
}

.cam_ctl .cam_ctl_btn{
  cursor: pointer;
  background-color: #333333;
  color: #111111;
  text-align: center;
}

.cam_ctl .cam_ctl_btn.live{
  background-color: #ececec;
}

/* Emergency */
.cam_ctl_btn.cam5.active{
  background-color: #ec0000;
}

.cam_ctl .cam_ctl_btn.live.updating{
  background-color: #ec0000;
}

.cam_ctl .cam_ctl_btn.live.active:not(.updating){
  background-color: #00ec00;
  color: #111111;
}

.cam_ctl .cam_ctl_btn.ol_live{
  background-color: #00ec00;
}

.cam_ctl .cam_ctl_btn.f_live{
  background-color: #00ec00;
}

.cam_ctl .cam_ctl_btn.overlay{
  margin: auto;
  position: absolute;
  width: 100px;
  right: 0;
}

.cam_ctl .cam_ctl_btn.overlay_lrt{
  margin: auto;
  position: absolute;
  width: 100px;
  right: 0;
}

.cam_ctl .cam_ctl_btn.overlay_l3rd{
  margin: auto;
  position: absolute;
  width: 200px;
  left: 0;
  right: 0;
  bottom: 0;
}

.cam_ctl .cam_container_ctrls{
  position: relative;
  margin: 2px 0 2px;
  height: 70px;
  text-align: left;
}

.cam_ctl .cam_container_ptz{
  position: relative;
  width: 150px;
  height: 100%;
  left: 75px;
}

.cam_ctl .cam_ctl_btn.ptz{
  display: flex;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 19px;
  align-items: center;
  justify-content: center;
}

.cam_ctl .cam_ctl_btn.ptz:hover{
  background-color: #999999;
}

.cam_ctl .cam_ctl_btn.ptz.mov_u{
  margin: auto;
  top: 0; 
  left: 0; 
  right: 0;
}

.cam_ctl .cam_ctl_btn.ptz.mov_u::before{
  font: var(--fa-font-solid);
  content: "\f0aa";
}

.cam_ctl .cam_ctl_btn.ptz.mov_l{
  left: 0;
  top: 0;
  bottom: 0;
}
.cam_ctl .cam_ctl_btn.ptz.mov_l::before{
  font: var(--fa-font-solid);
  content: "\f0a8";
}

.cam_ctl .cam_ctl_btn.ptz.mov_r{
  right: 0;
  top: 0;
  bottom: 0;  
}
.cam_ctl .cam_ctl_btn.ptz.mov_r::before{
  font: var(--fa-font-solid);
  content: "\f0a9";
}

.cam_ctl .cam_ctl_btn.ptz.mov_d{
  left: 0;
  right: 0;
  bottom: 0;
}
.cam_ctl .cam_ctl_btn.ptz.mov_d::before{
  font: var(--fa-font-solid);
  content: "\f0ab";
}

.cam_ctl .cam_ctl_btn.ptz.mov_f{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cam_ctl .cam_ctl_btn.ptz.mov_f::before{
  font: var(--fa-font-solid);
  content: "\f05b";
}

.cam_ctl .cam_ctl_btn.ptz.mov_zi{
  right: 0;
  top: 0;
}
.cam_ctl .cam_ctl_btn.ptz.mov_zi::before{
  font: var(--fa-font-solid);
  content: "\f00e";
}

.cam_ctl .cam_ctl_btn.ptz.mov_zo{
  right: 0;
  bottom: 0;
}
.cam_ctl .cam_ctl_btn.ptz.mov_zo::before{
  font: var(--fa-font-solid);
  content: "\f010";
}

.cam_ctl .cam_ctl_btn.ptz.mov_fi{
  left: 0;
  top: 0;
}
.cam_ctl .cam_ctl_btn.ptz.mov_fi::before{
  font: var(--fa-font-solid);
  content: "\f06c";
}

.cam_ctl .cam_ctl_btn.ptz.mov_fo{
  left: 0;
  bottom: 0;
}
.cam_ctl .cam_ctl_btn.ptz.mov_fo::before{
  font: var(--fa-font-solid);
  content: "\f1bb";
}

